body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffb6c1, #87cefa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

video {
  border-radius: 15px;
  margin-top: 10px;
}

#songs {
  margin-top: 20px;
}

iframe {
  border-radius: 10px;
  margin: 10px;
}
